{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <div class="container">
    <h2>Add Course</h2>

    <form method="POST">
        {% csrf_token %}
        <input name="title" placeholder="Course Title">
        <textarea name="description" placeholder="Description"></textarea>
        <button>Add Course</button>
    </form>
</div>
</body>
</html>