{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    <div class="container">
        <h2>My Submissions</h2>

        {% for s in submissions %}
        <div class="card">
            <h4>{{ s.course.title }}</h4>

            <a href="{{ s.file.url }}" target="_blank">View File</a>

            {% if s.status == "pending" %}
            <p style="color:orange;">Pending</p>
            {% elif s.status == "reviewed" %}
            <p style="color:green;">Approved</p>
            {% elif s.status == "rejected" %}
            <p style="color:red;">Rejected</p>
            {% endif %}
        </div>
        {% empty %}
        <p>No submissions yet</p>
        {% endfor %}
    </div>
</body>

</html>