{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    <div class="container">
        <h2>Pending Assignments</h2>

        {% for a in assignments %}
        <div class="card">
            <p><b>{{ a.student }}</b></p>
            <p>{{ a.course.title }}</p>

            <a href="{{ a.file.url }}" target="_blank">View File</a>

            {% if a.status == "pending" %}
            <a href="/review/{{ a.id }}/" class="btn">Approve</a>
            <a href="/reject/{{ a.id }}/" class="btn" style="background:red;">Reject</a>

            {% elif a.status == "reviewed" %}
            <p style="color:green;">Approved</p>

            {% elif a.status == "rejected" %}
            <p style="color:red;">Rejected</p>
            {% endif %}

        </div>
        {% empty %}
        <p>No pending assignments</p>
        {% endfor %}
    </div>
</body>

</html>