{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <div class="logo">LMS</div>

        <div class="nav-links">
            <a href="/dashboard/">Dashboard</a>
            <a href="/logout/">Logout</a>
        </div>
    </div>
    <h1>Student Dashboard</h1>

    <p>Welcome {{ user }}</p>
    <p>Role: {{ role }}</p>

    <a href="/logout/">Logout</a>
</body>

</html>