{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <div class="navbar">
        <div class="logo">LMS</div>

        <div class="nav-links">
            <a href="/dashboard/">Dashboard</a>
            <a href="/logout/">Logout</a>
        </div>
    </div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <h2>Users</h2>

    {% for user in users %}
    <p>{{ user.username }} - {{ user.role }}</p>
    {% endfor %}
</body>

</html>