.sidebar {

  width: 250px;

  min-height: 100vh;

  background: #111827;

  padding: 20px;

  color: white;
}

.logo {

  margin-bottom: 35px;
}

.sidebar a {

  display: block;

  color: white;

  text-decoration: none;

  padding: 14px;

  margin-bottom: 10px;

  border-radius: 8px;

  transition: 0.3s;
}

.sidebar a:hover {

  background: #2563eb;
}