{% extends 'layout.html' %}

{% block content %}

<h2>Learning Dashboard 🚀</h2>
<p>Welcome, <b>{{ request.user.username }}</b></p>

<div class="row mt-4">

    <div class="col-md-4">
        <div class="card p-3">
            <h5>My Courses</h5>
            <p>View enrolled courses</p>
            <a href="/courses/my-courses/" class="btn btn-primary">View</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h5>Watch Videos</h5>
            <p>Continue learning</p>
            <a href="/courses/my-courses/" class="btn btn-success">Go</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h5>Profile</h5>
            <p>Your details</p>
            <a href="/profile/" class="btn btn-dark">View</a>
        </div>
    </div>

</div>

<div class="row mt-4">

    <div class="col-md-6">
        <div class="card p-3">
            <h5>Take Quiz</h5>
            <a href="/courses/quiz-courses/" class="btn btn-primary">Start Quiz</a>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card p-3">
            <h5>Browse Courses</h5>
            <a href="/courses/all/" class="btn btn-success">Explore</a>
        </div>
    </div>

</div>

{% endblock %}