{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="card" style="max-width:500px; margin:auto;">

        <h2 style="text-align:center;">Add Course</h2>

        <form method="POST">
            {% csrf_token %}

            <label>Title:</label><br>
            <input type="text" name="title" required><br><br>

            <label>Description:</label><br>
            <textarea name="description" required></textarea><br><br>

            <label>Topics:</label><br>
            <input type="text" name="topics"><br><br>

            <label>Duration:</label><br>
            <input type="text" name="duration"><br><br>

            <label>Status:</label><br>
            <select name="status">
                <option value="active">Active</option>
                <option value="upcoming">Upcoming</option>
            </select><br><br>

            <div style="text-align:center;">
                <button type="submit">Add Course</button>
            </div>

        </form>

    </div>

</div>

{% endblock %}