{% extends 'base.html' %}

{% block content %}

<div class="container">

<h2 style="text-align:center;">Available Courses</h2>

<div class="grid-3">

{% for course in courses %}

<div class="card">

    <p><b>Topics:</b> {{ course.topics }}</p>
    <p><b>Duration:</b> {{ course.duration }}</p>
    <p><b>Status:</b> {{ course.status }}</p>

    <div style="margin-top:10px;">

        <a href="/enroll/?course_id={{ course.id }}">
            <button>Enroll</button>
        </a>

       <p style="color:red;">ID = {{ course.id }}</p>

<a href="/course/{{ course.id }}/">
    <button style="background:#3498db;">View Videos</button>
</a>

    </div>

</div>

{% endfor %}

</div>

</div>
<p style="color:red;">ID = {{ course.id }}</p>

<input type="text" id="search" placeholder="Search courses..." onkeyup="searchCourses()">

<script>
function searchCourses() {
    let input = document.getElementById("search").value.toLowerCase();
    let cards = document.querySelectorAll(".card");

    cards.forEach(card => {
        let text = card.innerText.toLowerCase();
        card.style.display = text.includes(input) ? "block" : "none";
    });
}
</script>

{% endblock %}