<!DOCTYPE html>
<html>
<head>
    <title>LMS Home</title>
</head>
<body>

    <h1>Welcome to LMS Project 🚀</h1>
    <p>This is your Learning Management System.</p>

    <hr>

    <h2>Dashboard</h2>

    <button onclick="window.location.href='/courses/'">
        View Courses
    </button>

    <button onclick="window.location.href='/users/'">
        View Users
    </button>

    <button onclick="window.location.href='/admin/'">
        Admin Panel
    </button>

</body>
</html>