{% extends 'layout.html' %}

{% block content %}

<h2 class="text-center mb-4">Explore Courses</h2>

<div class="row">
    {% for course in courses %}
    <div class="col-md-4 mb-3">
        <div class="card p-3">
            <h5>{{ course.title }}</h5>
            <p>{{ course.description }}</p>

            <form method="POST" action="{% url 'enroll_course' course.id %}">
                {% csrf_token %}
                <button class="btn btn-success w-100">Enroll</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}